{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<!-- Banner Section Start -->
<section class="inner-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-content position-relative">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-white">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Contact</li>
                    </ul>
                    <h1 class="breadcrumb-title text-white">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
{% include 'alert.html' %}
<div class="main-content-wrapper">

<section class="contact-form-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex">
                <div class="card border-0 w-100">
                    <div class="card-body p-4">
                        <h5>Hey, Gotta question?</h5>
                        <p>Send it to us and we will get back to you as soon as possible.</p>
                        <form class="contact-form"  action="{% url 'contact_us' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <input id="form-name" name="name" class="form-control" required="required" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <input id="form-email" name="email" class="form-control required email" required="required" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <input id="form-phone" name="phone" class="form-control required phone" required="required" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <input id="form-subject" name="subject" class="form-control required" required="required" type="text" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-3">
                                        <textarea id="form-message" name="message" class="form-control required" rows="8" required="required" placeholder="Your Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-warning">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="card border-0 w-100 mt-5 mt-lg-0">
                    <div class="card-body p-4">
                        <h5>Contact Us</h5>
                        <p>Dedicated To Providing First Class & Premium Real Estate Property Mnagement & Professional Consultancy Within And Beyound Nigeria.</p>

                        <div class="contact-item">
                            <ul class="social-icons ps-0">
                                <li class="list-inline-item"><a href="https://www.facebook.com/Royahavenhomes?mibextid=LQQJ4d"><i class="fab fa-facebook-square"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.tiktok.com/@royalhavenhomes?_t=8a4LgQdr91R&_r=1"><i class="fab fa-tiktok"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/invites/contact/?i=ze6yxwl6lcaw&utm_content=89vzvd4"><i class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="https://wa.me/message/MTIJ334KZNAWA1"><i class="fab fa-whatsapp"></i></a></li>
                                <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
                            </ul>
                        </div>

                        <div class="contact-item">
                            <h5 class="font-18">Address</h5>
                            <p>Freedom Plaza, Amaku Road, Off Aroma Junction Awka.</p>
                        </div>
                        
                        <div class="contact-item">
                            <h5 class="font-18">Phone</h5>
                            <p>08164441825</p>
                        </div>

                        <div class="contact-item">
                            <h5 class="font-18">Phone</h5>
                            <p>08066065703</p>
                        </div>

                        <div class="contact-item">
                            <h5 class="font-18">Mail</h5>
                            <p>royalhavenhomes1@gmail.com</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA Section Start -->

<section class="home-cta-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="call-to-action-meta">
                    <div class="cta-info">
                        <h1 class="text-white">Looking for a dream home or land?</h1>
                        <p class="text-white mb-0">We can help you realize your dream simultaneously</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cta-btn text-md-end mt-4 mt-md-0">
                    <a href="{% url 'listings' %}" class="btn btn-warning">Explore Properties</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}