{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}


<section class="inner-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="breadcrumb-content position-relative">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-white">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Listings</li>
                    </ul>
                    <h1 class="breadcrumb-title text-white">Listings</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="property-grid-listing">
    <div class="blog-single-breadcrumb mb-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listings</li>
                        </ul>
                        <!-- <h1 class="breadcrumb-title font-30 mt-3">Full Width - Grid View</h1> -->
                    </div>
                </div>
                <!-- <div class="col-md-4 text-end">
                    <button type="button" class="btn btn-warning px-4 py-2" data-bs-toggle="modal" data-bs-target="#searchModal">Show Filter <i class="fas fa-sort ms-2"></i></button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="property-listing-section pb-5">
        <div class="container">
            

            <div class="property-listing-meta">
                
                <div class="home-featured-property">
                    <div class="row mt-5">
                        {% if listings %}
                    {% for listing in listings %}
                        <div class="col-lg-4 col-md-6">
                            <div class="card v1-featured-property-card mb-4 border-0">
                                <div class="featured-product-img position-relative">
                                    <a href="{% url 'listing' listing.id %}">
                                        <img src="{% if listing.photo_main %}{{ listing.photo_main.url }}{% endif %}" alt="featured-property" class="img-fluid w-100 fe-pro-img" />
                                    </a>
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">{% if listing.price %}₦{{ listing.price | intcomma }}{% endif %}</h4>
                                        <div class="property-view ms-auto">
                                            <!-- <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="{% if listing.status == 'Rent' %}bg-blue{% elif listing.status == 'Sale' %}bg-green{% elif listing.status == 'Sold' %}bg-orange{% endif %}">{% if listing.status %}{{listing.status}}{% endif %}</li>
                                        </ul>
                                    </div>
                                    <span class="featured-property me-2 text-white bg-green"><i class="fas fa-star font-12"></i></span>
                                    <span class="hot-property me-2 text-white bg-orange"><i class="fas fa-fire font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">{% if listing.property_type %}{{listing.property_type}}{% endif %}</p>
                                    <h4 class="font-20 product-title"><a href="{% url 'listing' listing.id %}" class="text-decoration-none">{% if listing.title %}{{listing.title|title}}{% endif %}</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i>{% if listing.address %}{{listing.address}}{% endif %}</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        {% if listing.bedrooms %}
                                    <li><p class="mb-0">{{ listing.bedrooms }} <i class="fas fa-bed"></i></p>
                                    Bedrooms
                                    {% endif %}
                                    <!-- <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                    Bathrooms -->
                                    {% if listing.sqft %}
                                    <li><p class="mb-0">{{ listing.sqft }} <i class="fas fa-vector-square"></i>   </p>
                                        square Ft
                                    </li>
                                    {% endif %}
                                    </ul>
                                </div>
                                
                            </div>

                        </div>
                        {% endfor %}
                        {% else %}
              <div class="col-md-12">
                <p>No Listing Availabe</p>
              </div>
                        {% endif %}
                      
                    </div>
                    
                </div>
              



                <div class="blog-post-pagination mt-4">
                    {% if listings.has_other_pages %}
                    <ul class="page-navigation list-inline text-center">
                        {% if listings.has_previous %}
                        <li class="page-item list-inline-item">
                            <a class="page-link" href="?page={{listings.previous_page_number}}" tabindex="-1"><i class="fas fa-arrow-left"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item list-inline-item"><a class="page-link">&laquo;</a></li>
                        {% endif %}
                        {% for i in listings.paginator.page_range %}
                        {% if listings.number == i %}
                        <!-- <li class="page-item list-inline-item"><a class="page-link">{{i}}</a></li> -->
                        <li class="page-item list-inline-item active" aria-current="page">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item list-inline-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %} 
                        {% if listings.has_next %}
                        <li class="page-item list-inline-item"><a class="page-link" href="?page={{listings.next_page_number}}">&raquo;</a></li>
                        {% else %}
                        <li class="page-item list-inline-item"><a class="page-link">&laquo;</a></li>
                        {% endif %}
                        
                            
                        
                    </ul>
                    {% endif %}
                </div>
            </div>
                    
        </div>
    </div>
</div>

{% endblock %}