{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="property-grid-listing">
    <div class="blog-single-breadcrumb mb-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Simple Listing – Grid View</li>
                        </ul>
                        <h1 class="breadcrumb-title font-30 mt-3">Full Width - Grid View</h1>
                    </div>
                </div>
                <div class="col-md-4 text-end">
                    <button type="button" class="btn btn-warning px-4 py-2" data-bs-toggle="modal" data-bs-target="#searchModal">Show Filter <i class="fas fa-sort ms-2"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="property-listing-section pb-5">
        <div class="container">
                    
            <div class="grid-search-result">
                <div class="card border-0">
                    <div class="card-body px-4">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-6">
                                <p class="mb-md-0 text-dark font-14">10 Search results</p>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <select class="form-select font-14 form-select-md mb-3 mb-md-0" aria-label=".form-select-md example" name="property-status">
                                    <option selected>Status</option>
                                    <option value="Any">Any</option>
                                    <option value="For Rent">For Rent</option>
                                    <option value="For Sale">For Sale</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <select class="form-select font-14 form-select-md mb-3 mb-md-0" aria-label=".form-select-md example" name="property-status">
                                    <option selected>Filter</option>
                                    <option value="HTL">High to Low</option>
                                    <option value="LTH">Low to High</option>
                                    <option value="New">Newest First</option>
                                    <option value="Old">Oldest First</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="property-listing-meta">
                <div class="home-featured-property">
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="card v1-featured-property-card mb-4 border-0">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/images/property-img/fe-property-img-1.jpg" alt="featured-property" class="img-fluid w-100 fe-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$13,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-blue">For Rent</li>
                                        </ul>
                                    </div>
                                    <span class="featured-property me-2 text-white bg-green"><i class="fas fa-star font-12"></i></span>
                                    <span class="hot-property me-2 text-white bg-orange"><i class="fas fa-fire font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Apartment</p>
                                    <h4 class="font-20 product-title"><a href="page-property-single-v1.html" class="text-decoration-none">Modern Apartments</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <a href="#"><img src="assets/images/user-icon.png" alt="user-image" class="img-fluid"></a>
                                            <div class="ms-3">
                                                <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                <p class="font-14 mb-0">Estate Agents</p>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">1 day Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card v1-featured-property-card mb-4 border-0">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/images/property-img/fe-property-img-2.jpg" alt="featured-property" class="img-fluid w-100 fe-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$13,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-orange">For Sale</li>
                                        </ul>
                                    </div>
                                    
                                    <span class="hot-property me-2 text-white bg-green"><i class="fas fa-star font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">House</p>
                                    <h4 class="font-20 product-title"><a href="page-property-single-v2.html" class="text-decoration-none">Luxury Family Home</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <a href="#"><img src="assets/images/user-icon.png" alt="user-image" class="img-fluid"></a>
                                            <div class="ms-3">
                                                <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                <p class="font-14 mb-0">Estate Agents</p>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">1 day Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>  
                        <div class="col-lg-4 col-md-6">
                            <div class="card v1-featured-property-card mb-4 border-0">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/images/property-img/fe-property-img-3.jpg" alt="featured-property" class="img-fluid w-100 fe-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$13,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-blue">For Rent</li>
                                        </ul>
                                    </div>
                                    <span class="hot-property me-2 text-white bg-orange"><i class="fas fa-fire font-12"></i></span>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Apartment</p>
                                    <h4 class="font-20 product-title"><a href="page-property-single-v1.html" class="text-decoration-none">Renovated Apartment</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <a href="#"><img src="assets/images/user-icon.png" alt="user-image" class="img-fluid"></a>
                                            <div class="ms-3">
                                                <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                <p class="font-14 mb-0">Estate Agents</p>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">1 day Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card v1-featured-property-card mb-4 border-0">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/images/property-img/fe-property-img-4.jpg" alt="featured-property" class="img-fluid w-100 fe-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$13,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-orange">For Sale</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Apartment</p>
                                    <h4 class="font-20 product-title"><a href="page-property-single-v2.html" class="text-decoration-none">Romain Apartments</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <a href="#"><img src="assets/images/user-icon.png" alt="user-image" class="img-fluid"></a>
                                            <div class="ms-3">
                                                <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                <p class="font-14 mb-0">Estate Agents</p>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">1 day Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>  
                        <div class="col-lg-4 col-md-6">
                            <div class="card v1-featured-property-card mb-4 border-0">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/images/property-img/fe-property-img-5.jpg" alt="featured-property" class="img-fluid w-100" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$13,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-orange">For Sale</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">House</p>
                                    <h4 class="font-20 product-title"><a href="page-property-single-v1.html" class="text-decoration-none">Matrix House</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <a href="#"><img src="assets/images/user-icon.png" alt="user-image" class="img-fluid"></a>
                                            <div class="ms-3">
                                                <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                <p class="font-14 mb-0">Estate Agents</p>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">1 day Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>  
                        <div class="col-lg-4 col-md-6">
                            <div class="card v1-featured-property-card mb-4 border-0">
                                <div class="featured-product-img position-relative">
                                    <img src="assets/images/property-img/fe-property-img-6.jpg" alt="featured-property" class="img-fluid w-100 fe-pro-img" />
                                    <div class="property-details mb-2">
                                        <h4 class="text-white mb-0">$13,000/<span>mo</span></h4>
                                        <div class="property-view ms-auto">
                                            <a href="#"><i class="fas fa-exchange-alt"></i></a>
                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="property-tag">
                                        <ul class="list-unstyled mb-0">
                                            <li class="bg-orange">For Sale</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-orange mb-0">Villa</p>
                                    <h4 class="font-20 product-title"><a href="page-property-single-v2.html" class="text-decoration-none">Real Luxury Family House Villa</a></h4>
                                    <p><i class="fas fa-map-marker-alt"></i> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><p class="mb-0">3 <i class="fas fa-bed"></i></p>
                                        Bedrooms
                                        <li><p class="mb-0">2 <i class="fas fa-sink"></i></p>
                                        Bathrooms
                                        <li><p class="mb-0">1250 <i class="fas fa-vector-square"></i>   </p>
                                            square Ft
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-footer border-top">
                                    <div class="card-body">
                                        <div class="property-footer-meta d-flex align-items-center">
                                            <a href="#"><img src="assets/images/user-icon.png" alt="user-image" class="img-fluid"></a>
                                            <div class="ms-3">
                                                <h6 class="mb-0"><a href="#" class="text-decoration-none">Johnathan Doe</a></h6>
                                                <p class="font-14 mb-0">Estate Agents</p>
                                            </div>
                                            <div class="property-year ms-auto">
                                                <p class="mb-0">1 day Ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>  
                    </div>
                </div>
                <div class="blog-post-pagination mt-4">
                    <ul class="page-navigation list-inline text-center">
                        <li class="page-item list-inline-item">
                            <a class="page-link" href="#" tabindex="-1"><i class="fas fa-arrow-left"></i></a>
                        </li>
                        <li class="page-item list-inline-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item list-inline-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item list-inline-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item list-inline-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item list-inline-item"><a class="page-link" href="#">29</a></li>
                        <li class="page-item list-inline-item">
                            <a class="page-link" href="#"><i class="fas fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
                    
        </div>
    </div>
</div>

{% endblock %}